In [1]:
import dask.dataframe as dd
from dask.distributed import Client
import json
import dask

In [2]:
# client=Client('127.0.0.1:8786')
# client.scheduler_info()
# #dask.config.config

In [21]:
products = dd.read_csv("small_products_Release.csv")
reviews = dd.read_csv("small_user_reviews_Release.csv")

In [33]:
products.tail(1)

,asin,salesRank,imUrl,categories,title,description,price,related,brand
6217,0198515294,{'Books': 1938228},http://ecx.images-amazon.com/images/I/510Vg1i6...,[['Books']],Global Public Health: A New Era (Medicine),"""I would recommend this eminently readable and...",52.22,NaN,NaN

In [32]:
reviews.head(1)

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,A2T0RJ91B0PQ03,B0016CRVLW,Gerald DeWitt,"[0, 0]",Beware! This is NOT the original single versi...,1.0,Poor Quality Alternate Take,1.400630e+09,"05 21, 2014"

In [22]:
products.shape[0].compute()

99999

In [23]:
products.loc[0].compute()

,asin,salesRank,imUrl,categories,title,description,price,related,brand
0,0001048791,{'Books': 6334800},http://ecx.images-amazon.com/images/I/51MKP0T4...,[['Books']],"The Crucible: Performed by Stuart Pankin, Jero...",NaN,NaN,NaN,NaN
0,0073049212,{'Books': 1686967},http://ecx.images-amazon.com/images/I/21NXKs35...,[['Books']],Contemporary Management 4th Edition with Stude...,"Gareth Jones, Texas A &amp; M University Garet...",3.98,"{'buy_after_viewing': ['0078137225', '00780293...",NaN
0,0195112954,{'Books': 2185740},http://ecx.images-amazon.com/images/I/51PGi8pa...,[['Books']],Religion in Twentieth Century America (Religio...,Gr 9 Up-From the Pentecostal revival sparked b...,NaN,"{'also_bought': ['0195119983', '0195110218']}",NaN

In [92]:
percentNa = reviews.isna().mean().mean()*100 + products.isna().mean().mean()*100
percentNa.compute()

#check mask""???

26.140162679920977

In [66]:
subproducts = products[['asin', 'price']]
subreviews = reviews[['asin', 'overall']]

joined = subproducts.set_index("asin").join(subreviews.set_index("asin"), on="asin", how='inner')
#joined.head()
pcor = joined.corr()['overall']
val = pcor.compute()['price']

/home/ubuntu/dask_env/lib/python3.6/site-packages/numpy/lib/function_base.py:380: RuntimeWarning: Mean of empty slice.
  avg = a.mean(axis)
/home/ubuntu/dask_env/lib/python3.6/site-packages/numpy/core/_methods.py:163: RuntimeWarning: invalid value encountered in true_divide
  ret, rcount, out=ret, casting='unsafe', subok=False)
/home/ubuntu/dask_env/lib/python3.6/site-packages/pandas/core/frame.py:8280: RuntimeWarning: Degrees of freedom <= 0 for slice
  base_cov = np.cov(mat.T, ddof=ddof)
/home/ubuntu/dask_env/lib/python3.6/site-packages/numpy/lib/function_base.py:2480: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)
/home/ubuntu/dask_env/lib/python3.6/site-packages/numpy/lib/function_base.py:2480: RuntimeWarning: invalid value encountered in multiply
  c *= np.true_divide(1, fact)
/home/ubuntu/dask_env/lib/python3.6/site-packages/numpy/core/_methods.py:163: RuntimeWarning: invalid value encountered in true_divide
  ret, rcount, out=ret, casting='unsafe', subok=False)
/home/ubuntu/dask_env/lib/python3.6/site-packages/pandas/core/frame.py:8280: RuntimeWarning: Degrees of freedom <= 0 for slice
  base_cov = np.cov(mat.T, ddof=ddof)
/home/ubuntu/dask_env/lib/python3.6/site-packages/numpy/lib/function_base.py:2480: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)
/home/ubuntu/dask_env/lib/python3.6/site-packages/numpy/lib/function_base.py:2480: RuntimeWarning: invalid value encountered in multiply
  c *= np.true_divide(1, fact)

In [76]:
price_prod = products['price'].describe().compute()
[price_prod['mean'], price_prod['std'], price_prod['50%'], price_prod['min'], price_prod['max']]

[27.726746045964067, 40.33121621403623, 16.14, 0.0, 992.75]

In [8]:
priceNumbers = products.price.describe()

NameError: name 'ddf' is not defined

In [9]:
numCat = products.groupby("categories").count()

NameError: name 'ddf' is not defined