In [1]:
# from dask.distributed import Client
# import dask.dataframe as dd

# client = Client()
# client

In [1]:
import pandas as pd

In [2]:
reviews = pd.read_csv("small_reviews.csv")

In [3]:
number_products_rated = reviews.groupby('reviewerID').count()['asin']
avg_ratings = reviews.groupby('reviewerID')['overall'].mean()
reviewing_since = reviews.groupby('reviewerID')['reviewTime'].min()
helpful_reviews = reviews.groupby('reviewerID')['helpful'].agg(lambda x: sum([int(i.strip('[]').split(', ')[0]) for i in x]))
total_reviews = reviews.groupby('reviewerID')['helpful'].agg(lambda x: sum([int(i.strip('[]').split(', ')[0]) + int(i.strip('[]').split(', ')[1]) for i in x]))

In [4]:

users = pd.DataFrame(index = set(reviews['reviewerID']))
users['number_products_rated'] = number_products_rated
users['avg_ratings'] = avg_ratings
users['reviewing_since'] = reviewing_since
users['helpful_reviews'] = helpful_reviews
users['total_reviews'] = total_reviews
users.reset_index(inplace=True)
users = users.rename(columns = {'index':'reviewerID (PRIMARY KEY)'})
users

,reviewerID (PRIMARY KEY),number_products_rated,avg_ratings,reviewing_since,helpful_reviews,total_reviews
0,AD48DZ70PN3RN,1,5.0,"09 30, 2012",0,0
1,A2DQ2G3504O8W2,1,5.0,"11 1, 2013",0,0
2,AASFPRRZUXIV9,1,4.0,"12 2, 2012",1,3
3,A1R9OY91K8W9TB,1,1.0,"02 25, 2013",1,3
4,A4O063ZBB2E9D,1,5.0,"01 27, 2014",1,2
...,...,...,...,...,...,...
4983,A3MKLME10UMVHV,1,5.0,"11 19, 2012",1,2
4984,A2EW6ZBQ2Y5889,1,5.0,"12 20, 2012",19,38
4985,A4PZIUQNCQEA,1,3.0,"09 10, 2011",0,0
4986,A4EBYIKOMYFF9,1,5.0,"06 26, 2013",2,4
4987,A1I9VLQ550R03P,1,3.0,"06 19, 2012",0,0